/* styles.css */

:root {
  --primary: #ffffff; /* Primary Color - White */
  --secondary: #000000; /* Secondary Color - Black */
  --accent: #398f41; /* Accent Color - Light Green */
  --red: #e53e3e; /* Red Color */
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(270deg, #f2f2f2, #ffffff);
  background-size: 200% 200%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background-animation {
  animation-name: colorchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 5.5rem;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.5rem;
}

.secondTitle {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
  font-family: serif;
  margin-bottom: 2rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.input {
  width: 100%;
  border: 3px solid var(--secondary);
  border-radius: 50px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: black;
  background-color: var(--primary);
}

input[type="radio"] {
  margin-right: 0.5rem;
}

.input,
.button {
  box-sizing: border-box;
}

.button {
  width: 100%;
  border: 3px solid var(--secondary);
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.button:disabled {
  background-color: var(--red);
  cursor: not-allowed;
}

.error {
  color: red;
}

.redBall {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  margin: -20px auto 2rem;
  display: none;
}

.reaction-time {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

.about-text {
  text-align: justify;
  margin: auto;
  max-width: 600px;
  line-height: 1.5;
}
