/* styles.css */

:root {
  --navy: #002244;
  --white: #ffffff;
  --red: #e53e3e;
  --blue: #4299e1;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--navy);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.input {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 50px; /* Updated */
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--navy);
  background-color: var(--white);
}

input[type="radio"] {
  margin-right: 0.5rem;
}

.input,
.button {
  box-sizing: border-box;
}

.button {
  width: 100%;
  border: 2px solid var(--white);
  background-color: var(--navy);
  color: var(--white);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.button:disabled {
  background-color: var(--red);
  cursor: not-allowed;
}

.redBall {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  margin: -20px auto 2rem;
  display: none;
}

.reaction-time {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

.about-text {
  text-align: justify;
  margin: auto;
  max-width: 600px;
  line-height: 1.5;
}
